$clr-dark: #151d30;
$clr-light: #fff;
$clr-normal: #000;
$clr-hover: #73a2ce;
$clr-blue: #1e6cad;
$clr-gray: #aeaeae;

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-h4: 1.15rem;
$fs-h5: 1.05rem;
$fs-h6: 1.02rem;
$fs-body: 1rem;

$fw-reg: 300;
$fw-bold: 900;

$ff-primary: "'Montserrat', sans-serif";
